<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pruebaclass1.camilo.StackOverflow" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tecno" >
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.AyudaActivity"
            android:label="Ayuda"
            android:parentActivityName="com.pruebaclass1.camilo.StackOverflow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.NuevoActivity"
            android:label="Crear Pregunta"
            android:parentActivityName="com.pruebaclass1.camilo.StackOverflow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.BuscarActivity"
            android:label="@string/title_activity_buscar" >
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.ComentariosActivity"
            android:label="Respuestas"
            android:parentActivityName="com.pruebaclass1.camilo.StackOverflow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.UsuarioActivity"
            android:label="Datos de la pregunta"
            android:parentActivityName="com.pruebaclass1.camilo.StackOverflow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.TutorialActivity"
            android:label="Tutorial"
            android:parentActivityName="com.pruebaclass1.camilo.StackOverflow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.pruebaclass1.camilo.StackOverflow.UsuarioRespuestaActivity"
            android:label="Datos de la respuesta"
            android:parentActivityName="com.pruebaclass1.camilo.StackOverflow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
